<h2>Guest Book info</h2>
<ul>
    <li>
        Druk op het <i class="fa fa-address-book"></i> icoontje om een boodschap achter laten
    </li>
    <li>
        Berichten die je post worden automatisch toegevoegd in de lijst met berichten op de guest book pagina
    </li>
    <li>
        Berichten die je post worden automatisch toegevoegd aan de berichten op het grote scherm in de faculty club
    </li>
</ul>