<h2>Photo Booth info</h2>
<ul>
    <li>
        Druk op het <i class="fa fa-upload"></i> icoontje om een foto vanuit je bestanden te uploaden
    </li>
    <!--<li>-->
    <!--Druk op het <i class="fa fa-camera"></i> icoontje om direct een photo te nemen en te posten-->
    <!--<small>(Let op, sommige toestellen ondersteunen deze functie niet)</small>-->
    <!--</li>-->
    <li>
        Foto's die je post worden automatisch toegevoegd in de lijst met foto's op de photo booth pagina
    </li>
    <li>
        Foto's die je post worden automatisch toegevoegd aan de foto's op het grote scherm in de faculty club
    </li>
</ul>