#clock-holder{
    background-color: #528C99;
    font-size: 25px;
    color: #FFF;
}
#clock-holder .heading ,
#clock-holder .smalltext{
    font-size: 0.7em;
}

.heading {
    margin-bottom: 0;
    margin-top: 5px;
}


@media all and (max-width: 550px) {
    #clock-holder span, #clock-holder div{
    }
}

@media all and (max-width: 430px) {
    #clock-holder {

    }
}