/*
color schemes
redish: rgb(206,0,88)
pink: rgb(232,156,174)

blue = rgb(176,222,231) || #b0dee7*/

/*
    STYLES
*/
html {
    height: 100%;
}

body {
    height: 100%;
}

.item-block {
    height: 100%;
}

.content-box {
    display: none;
    overflow: hidden;
    height: 80%;
    height: 80vh;

}

.fix {
    clear: left;
}

.text-center {
    text-align: center;
}

.radish-text {
    color: rgb(206, 0, 88);
}

.pink-text {
    color: rgb(232, 156, 174);
}

.pretty-text {
    font-family: 'Great Vibes', cursive;
}

a.s_m_btn {
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    display: block;
    border: 1px solid #fff;
    background-color: rgb(232, 156, 174);
    text-align: center;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

a.s_m_btn:hover {
    background-color: #fff;
    border: 1px solid rgb(232, 156, 174);
    text-align: center;
    color: rgb(232, 156, 174);
}

.icon-btn {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    display: block;
}

.icon-btn a {
    display: block;
    text-decoration: none;
}

.icon-btn.add-btn {
    background-color: #70dca5;
}

.icon-btn.add-btn a {
    color: #fff;
    text-decoration: none;
}

.icon-btn.add-btn a:hover {
    background-color: #fff;
    color: #70dca5;
}

/*
    PANELS
*/
#do-you {
    background-color: #80BFCC;
    color: #FFF;
}

#info {
    background-color: #CC8DA6;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}

#photoboot {
    background-color: #FFA7A4;
    color: #FFC8C7;
}

#guestbook {
    background-color: #B9FFE5;
    color: #000;
}

#info .info-content {
    width: 90%;
    margin: 0 auto;
    display: none;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#info .info-content.active {
    display: block;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.info-content .indeling-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-content {
    color: #E3BACB;
    font-size: 20px;
}

.info-content h3 {
    color: #FFF;
}

#overnachting.info-content,
#parking.info-content {
    width: 80%;
    margin-bottom: 20px;
}

#overnachting.info-content .btn,
#parking.info-content .btn {
    margin-bottom: 20px;
}
/*ERRORS*/
#notifications {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
}

.notif {
    display: none;
    opacity: 20;
    cursor: pointer;
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

/*
    MEDIA QUERIES
 */

@media all and (max-width: 600px) {
    .info-content h3 {
        font-size: 18px;
    }

    .info-content h4 {
        font-size: 16px;
    }

    .content-box {
        overflow: auto;
    }
}

@media all and (max-width: 500px) {
    .info-content h3 {
        font-size: 17px;
    }

    .info-content h4 {
        font-size: 15px;
    }
}

@media all and (max-width: 450px) {

}

@media all and (max-width: 350px) {

}


