/*blue = rgb(176,222,231) || #b0dee7*/
/*
    GENERAL CLASSES
*/
.text-center {
    text-align: center;
}

header {
    background-color: #dca570;
    height: 10%;
}

header h1 {
    color: #000;
}

#image-slider {
    height: 400px;
    background-color: #70a7dc;
}

#gb-slider {
    height: 400px;
    background-color: #70dca5;
}