/*<editor-fold desc="login styles">*/
#login-panel {
    position: relative;
}

#login-block {
    padding-left:0;
    position: absolute;
    width: 300px;
    border: 2px solid #528C99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-block > #login-header {
    background-color: #528C99;
    color: #ffffff;
    text-align: center;
}

#login-block > #login-header {
    padding: 5px;
}

#login-block > #login-body {
    padding: 10px 25px;
    color: #528C99;
}

/*</editor-fold>*/

/*<editor-fold desc="Admin button styles">*/
.s_m_btn_admin {
    background-color: #528C99;
    border: 1px #528C99 solid;
    padding: 8px;
    display: block;
    text-align: center;
    color: #FFF;
}

.s_m_btn_admin:hover,
.s_m_btn_admin:focus {
    text-decoration: none;
    color: #528C99;
    background-color: #FFF;
}

/*</editor-fold>*/

/*<editor-fold desc="Admin menu styles">*/
#admin-menu-holder {
    position: fixed;
    height: 100%;
    width: 200px;
}

#admin-menu.init {
    display: none;
}

#admin-menu {
    margin-top: 100px;
    height: 100%;
    background-color: #A9C6CC;
    color: #fff;
    width: 100%;
}

#admin-menu ul {
    width: 100%;
}

#admin-menu li {
    width: 100%;
    border-top: 1px solid #fff;
}

#admin-menu li:last-child {
    border-bottom: 1px solid #fff;
}

#admin-menu a,
#admin-menu a:focus,
#admin-menu a:visited {
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
}

#admin-menu a:hover {
    /*background-color: #fff;*/
    color: #528C99;
}

#admin-menu a.active {
    background-color: #528C99;
}

#admin-menu a.active:hover {
    color: #FFFFFF;
}

/*</editor-fold>*/

/*<editor-fold desc="Admin general styles">*/
.text-orange {
    color: #FFA500;
}

.toShow {
    display: none;
}

.admin-header {
    text-align: center;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    background-color: #528C99;
    color: #FFFFFF;
}

#user-table-holder {
    margin-top: 50px;
}

#content-panes {
    width: 100%;
}

.content-pane {
    display: none;
    padding-left: 200px;
}

#registerForm .form-control-feedback,
#adminLoginForm .form-control-feedback {
    top: 28px;
}

.admin-action-btn {
    cursor: pointer;
}

.admin-action-btn:hover .fa-stack-1x {
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    -webkit-transform: rotate(360deg);;
    -moz-transform: rotate(360deg);;
    -ms-transform: rotate(360deg);;
    -o-transform: rotate(360deg);;
    transform: rotate(360deg);;
}

/*</editor-fold>*/

/*<editor-fold desc="media queries">*/
@media all and (max-width: 1100px) {
    #admin-menu a {
        font-size: 0.9em;
    }
}

@media all and (max-width: 1000px) {
    #admin-menu-holder {
        width: 50px;
    }

    #admin-menu span {
        display: none;
    }

    #admin-menu a {
        font-size: 1em;
        padding: 0;
        text-align: center;
    }

    .content-pane {
        padding-left: 50px;
    }

}

/*</editor-fold>*/