#login-panel {
    position: relative;
}

#login-block {
    position: absolute;
    width: 300px;
    border: 2px solid #8AAEAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-block > #login-header {
    background-color: #8AAEAA;
    color: #ffffff;
    text-align: center;
}

#login-block > #login-header {
    padding: 5px;
}

#login-block > #login-body {
    padding: 10px 25px;
    color: #8AAEAA;
}
